* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

body{
    background: white;
}

.container{
    display: grid;
    grid-template-columns: 14rem auto 14rem;
}
.profile-photo img{
    width: 30px;
    border-radius: 20px;
    margin-right: 10px;
}
.updates{
    background-color: grey;
    display: flex;
    margin: 40px;  
}
.update-div{
    background-color: grey;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;

}
