@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
    background: white;
    padding: 40px 4%;
    font-family: "Poppins", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 14rem auto 14rem;

    background-color: antiquewhite;
    border: 1px solid black;
}

/* Az */
aside {
    background-color: cadetblue;
    border: 2px solid red;
}

main {
    background-color: burlywood;
    border: 2px solid blue;
}

/* Jessica */
.meio-superior {
    background-color: beige;
    border: 2px solid rebeccapurple;
}

/* Crislayne */
.meio-inferior {
    background-color: cornsilk;
    border: 2px solid greenyellow;
}

/* Ysla */
.right {
    color: white;
    width: 200px;

    background-color: #181a1e;
    border: 2px solid red;
}

.profile-photo img {
    width: 30px;
    border-radius: 20px;
    margin: 10px;
}

.updates {
    display: grid ;
    grid-template-columns: 2.6rem auto;
    margin: 5px;  
    gap: 16px;
}

.update-div {
    background-color: var(--color-dark);
    gap: 1;
    margin: 10px 0 0 12px;
    width: 260px;
    height: 220px;
    padding: 22px var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
}

.sales-analytics {
    margin-top: 20px;
}

.sales-analytics .itens {
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1;
    margin: 10px 0 0 12px;
    width: 260px;
    padding: 22px var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
}

#add-product {
    margin: 10px ;
    font-size: large;
    height: 90px;
    width: 260px;
    border-radius: var(--card-border-radius);
    background-color: var(--color-primary);
}

.itens .icon {
    background: var(--color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.danger {
    color: var(--color-danger) ;
}