* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: white;
}

.container{
    display: grid;
    grid-template-columns: 14rem auto 14rem;
}
.profile-photo img{
    width: 30px;
    border-radius: 20px;
    margin-right: 10px;
}
.updates{
    background-color: grey;
    display: flex;
    margin: 40px;  
}
.update-div{
    background-color: grey;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;

}
